<section class="banner-sec">
  <div class="container"
       infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       (scrolled)="onScrollDown()">
    <app-summary-complain *ngFor="let complain of complains" [complain]="complain"></app-summary-complain>
  </div>
</section>
