<div class="container">
  <form [formGroup]="reportComplainForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-lg-6">
        <fieldset class="form-group">
          <label class="ng-tns-c9-1">Başlık</label>
          <input type="text" class="form-control" formControlName="title"/>
          <span *ngIf="!reportComplainForm.get('title').valid && reportComplainForm.get('title').touched">Şikayetinizin başlığını giriniz.</span>
        </fieldset>
        <fieldset class="form-group">
          <label>Açıklama</label>
          <textarea class="form-control" rows="5" formControlName="content"></textarea>
          <span *ngIf="!reportComplainForm.get('content').valid && reportComplainForm.get('content').touched">Şikayetinizin içeriğini giriniz.</span>
        </fieldset>
        <fieldset class="form-group">
          <label>Olayın Meydana Geldiği Tarih</label>
          <div class="input-group" style="width: 45%;">
            <input class="form-control" placeholder="dd/mm/yyyy" formControlName="occurDate" ngbDatepicker
                   #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
          <span *ngIf="!reportComplainForm.get('occurDate').valid && reportComplainForm.get('occurDate').touched">Olayın meydana geldiği tarihi giriniz.</span>
        </fieldset>
        <fieldset class="form-group">
          <image-upload  #imageInput          
            [buttonCaption]="'Resim Ekle'"
            [clearButtonCaption]="'Temizle'"
            [dropBoxMessage]="'Dosyaları buraya sürükleyin!'"
            [fileTooLargeMessage]="'Resim Boyutu Çok Büyük!'"
            (uploadFinished)="onUploadFinished($event)"
            (removed)="removedImage($event)"
            [max]="10"></image-upload>
        </fieldset>
      </div>

      <div class="col-lg-6">
        <div formGroupName="userInfo">
          <fieldset class="form-group">
            <label class="ng-tns-c9-1">Ad</label>
            <input type="text" class="form-control" formControlName="name"/>
            <span
              *ngIf="!reportComplainForm.controls['userInfo'].get('name').valid && reportComplainForm.controls['userInfo'].get('name').touched">İsminizi giriniz.</span>
          </fieldset>
          <fieldset class="form-group">
            <label class="ng-tns-c9-1">Soyad</label>
            <input type="text" class="form-control" formControlName="lastname"/>
            <span
              *ngIf="!reportComplainForm.controls['userInfo'].get('lastname').valid && reportComplainForm.controls['userInfo'].get('lastname').touched">Soyisminizi giriniz.</span>
          </fieldset>
          <fieldset class="form-group">
            <label class="ng-tns-c9-1">Mail</label>
            <input type="text" class="form-control" formControlName="email"/>
            <span
              *ngIf="!reportComplainForm.controls['userInfo'].get('email').valid && reportComplainForm.controls['userInfo'].get('email').touched">Geçerli bir e-posta adresi giriniz.</span>
          </fieldset>
          <fieldset class="form-group">
            <label class="ng-tns-c9-1">Cep Telefonu</label>
            <int-phone-prefix class="form-control"
                              [locale]="'tr'"
                              [defaultCountry]="'tr'"
                              [onlyNumbers]=true
                              [maxLength]=14
                              formControlName="phone"></int-phone-prefix>
            <span
              *ngIf="!reportComplainForm.controls['userInfo'].get('phone').valid && reportComplainForm.controls['userInfo'].get('phone').touched">Geçerli bir telefon numarası giriniz.</span>
          </fieldset>
          <fieldset class="form-group">
            <button class="btn btn-primary" [disabled]="!reportComplainForm.valid">Bildir</button>
          </fieldset>
        </div>
      </div>

    </div>
  </form>
</div>
