.top-head {
  background: #141517;
  width: 100%;
  float: left;
  height: 100px;
}

.top-head h1 {
  color: #f4ee42;
  font-size: 36px;
  font-weight: 600;
  margin: 18px 0 0;
}

.top-head small {
  float: left;
  width: 100%;
  font-size: 14px;
  color: #f4ee42;
  margin-top: 5px;
  margin-left: 5px;
}

.top-head .admin-bar {
  text-align: right;
  margin-top: 22px;
}

.top-head .admin-bar a {
  color: #fff;
  line-height: 49px;
  position: relative;
  padding: 0 7px;
}

.top-head .admin-bar a:hover {
  color: #ff0000
}

.top-head .admin-bar a i {
  margin-right: 6px;
}

.top-head .admin-bar .ping {
  background: #ff0000;
  border: 3px solid #141517;
  border-radius: 50%;
  height: 14px;
  position: absolute;
  right: 3px;
  top: 13px;
  width: 14px;
  z-index: 1;
}

.top-head .admin-bar img {
  float: right;
  height: 50px;
  width: 50px;
  margin-left: 18px;
}
