<div class="top-head left">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <h1>Şikayet Portalı
          <a href="#">
            <small>Ana sayfaya dönmek için tıklayın...</small>
          </a>
        </h1>
      </div>
    </div>
  </div>
</div>
