<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light mb-3">
      <div class="card-header">{{complain.title }}</div>
      <div class="card-body">
        <p *ngIf="!this.authService.securityParams" class="card-text">{{complain.content |summaryComplainConent }} <a [routerLink]="['/complains', complain.slug]">Devamını okumak için
          tıklayın...</a></p>

        <p *ngIf="this.authService.securityParams" class="card-text">{{complain.content |summaryComplainConent }} <a [routerLink]="['/complains', complain.slug]">Devamını görmek için tıklayın ...</a></p>
      </div>
    </div>
  </div>
</div>
