<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Taksi Şikayetleri Admin Panel</h1>
      <form role="form" (ngSubmit)="onLoggedin()" #loginForm="ngForm">
        <div class="form-content">
          <div class="form-group">
            <input type="text" ngModel #username="ngModel" class="form-control input-underline input-lg"
                   placeholder="Username" required name="username">
            <span class="help-block" *ngIf="!username.valid && username.touched">Please enter username!</span>
          </div>

          <div class="form-group">
            <input type="password" ngModel #password="ngModel" class="form-control input-underline input-lg" id=""
                   placeholder="Password" required name="password">
            <span class="help-block" *ngIf="!password.valid && password.touched">Please enter password!</span>
          </div>
        </div>
        <button type="submit" class="btn rounded-btn"> Log in</button>
      </form>
    </div>
  </div>
</div>
