<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card bg-light mb-3">
        <div class="card-header">{{complain.title}}</div>
        <div class="card-body">
          <div class="form-group"
               *ngIf="this.authService.securityParams && this.complain.complainStatus === 'WAITING_APPROVEMENT'">
            <button class="btn btn-success" (click)="approveComplain()">Onayla</button>
            <button class="btn btn-danger" (click)="rejectComplain()" style="margin-left: 5px">Reddet</button>
          </div>
          <p class="card-text">{{complain.content}}</p>
          <div class="row">
            <div class="col-sm-3">
              <fieldset class="form-group">
                <label>Olayın Meydana Geldiği Tarih</label>
                <input class="form-control" type="text" disabled="true"
                       [value]="complain.occurDate | date:'dd/MM/yyyy'">
              </fieldset>
            </div>
            <div class="col-sm-3">
              <fieldset class="form-group">
                <label>Bildirim Tarihi</label>
                <input class="form-control" type="text" disabled="true"
                       [value]="complain.createDate | date:'dd/MM/yyyy'">
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-gallery class="gallery" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

</div>
