<footer class="footer">
  <div class="container">
    <p class="text-muted">
      © 2018 Copyright:
      <a href="http://taksisikayetleri.com/"> taksisikayetleri.com</a>
    </p>
  </div>
</footer>
