<div class="card text-white bg-info" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="card-header" (click)="isCollapsed = !isCollapsed"
       [attr.aria-expanded]="!isCollapsed" aria-controls="searchCollapse">
    <i class="fa fa-plus"></i> Detaylı Arama
  </div>
  <div id="searchCollapse" [ngbCollapse]="isCollapsed">
    <div class="card-body">
      <form role="form" [formGroup]="searchComplainForm" >
        <div class="row">
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label>Statü</label>
              <select class="form-control" formControlName="status">
                <option value="APPROVED">Onaylanmış</option>
                <option value="WAITING_APPROVEMENT">Onaylanmamış</option>
                <option value="REJECTED">Reddedilmiş</option>
                <option value="ALL">Hepsi</option>
              </select>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label>Başlangıç tarihi</label>
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" ngbDatepicker
                       #startDatePicker="ngbDatepicker" formControlName="startDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="startDatePicker.toggle()" type="button">
                    <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label>Bitiş tarihi</label>
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" ngbDatepicker
                       #endDatePicker="ngbDatepicker" formControlName="endDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="endDatePicker.toggle()" type="button">
                    <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-lg-4">
            <fieldset class="form-group">
              <label class="ng-tns-c9-1">E-mail</label>
              <input type="text" class="form-control" formControlName="email"/>
            </fieldset>
          </div>
        </div>
        <fieldset class="form-group">
          <button class="btn btn-primary" (click)="onSubmit()">Ara</button>
          <button class="btn btn-danger" (click)="clearSearchForm()">Temizle</button>
        </fieldset>
     </form>
    </div>
  </div>
</div>
