body {
  color: #5a5a5a;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

a, a:hover, .btn {
  outline: none !important;
}

.container {
  margin-top: 20px;
}

.btn-search {
  background: #FD3A13;
  border-color: #FD3A13;
  color: #fff;
  padding: 7px 10px
}

.btn-search:hover {
  background: #ca1b1b;
  border-color: #ca1b1b
}

section {
  padding: 30px 0;
  float: left;
  width: 100%
}

.card {
  float: left;
  width: 100%
}

.navbar {
  border: medium none;
  float: left;
  margin-bottom: 0px;
  width: 100%;
  border-radius: 0
}

.title-large {
  font-size: 20px;
  margin: 10px 0 5px;
  line-height: 27px;
  color: #141517;
}

.title-small {
  color: #141517;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 6px 0 0;
}

.title-x-small {
  font-size: 18px;
  margin: 0px;
}

.title-large a, .title-small a, .title-x-small a {
  color: inherit
}

.banner-sec {
  float: left;
  width: 100%;
  background: #EBEBEB
}

.card-block {
  padding: 0 10px 10px;
}

.card-text {
  margin: 0
}

.text-time {
  color: #ff0000;
  font-weight: 600;
}

.banner-sec .card-img-overlay {
  padding: 0;
  top: 3px;
  left: 7px;
  height: 20%
}

header {
  float: left;
  width: 100%
}



.banner-sec {
  float: left;
  width: 100%;
}

.banner-sec .news-block {
  margin-bottom: 20px
}

.banner-sec .news-block:last-child {
  margin-bottom: 0px
}

.banner-sec .news-des {
  margin-bottom: 5px;
}

.banner-sec .title-large {
  margin: 18px 0 0
}

.banner-sec .time {
  margin-top: 0px;
  font-size: 13px;
}

.banner-sec .carousel-control.left, .banner-sec .carousel-control.right {
  background: none;
}

.banner-sec .card {
  margin-bottom: 20px;
}

.section-01 {
  float: left;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5
}

.section-01 .heading-large {
  border-bottom: 2px solid #222;
  color: #222;
  float: left;
  width: 100%;
  padding: 0 0 6px;
  margin: 0 0 18px;
  text-align: left;
}

.section-01 .heading-large::before, .section-01 .heading-large::after {
  background: transparent;
}

.section-01 .heading-small {
  border-bottom: 2px solid #222;
  color: #222;
  float: left;
  margin: 7px 0 0;
  width: 100%;
  padding-bottom: 10px;
  font-size: 18px
}

.section-01 .title-small {
  margin-bottom: 5px;
  font-size: 17px
}

.section-01 .news-block {
  border-bottom: 1px dashed #000;
  padding-bottom: 30px;
  border: none;
}

.section-01 aside > .news-block {
  border-bottom: 1px dashed #000;
  padding-bottom: 19px;
}

.section-01 aside > .news-block:last-child {
  border-bottom: none;
  margin-bottom: 20px
}

.section-01 .card {
  border: none;
}

.section-01 .card-block {
  padding: 10px 0;
}

.section-01 .video-sec {
  float: left;
  margin-top: 30px;
  width: 100%;
}

.section-01 .video-block {
  float: left;
  margin-top: 20px;
  width: 100%;
}

.action-sec {
  width: 100%;
  float: left;
  background: #222
}

.action-box {
  float: left;
  width: 100%;
  text-align: center;
}

.action-box h2 {
  color: #fff;
  font-size: 20px;
}
