<section class="banner-sec">
  <div class="container"
       infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       (scrolled)="onScrollDown()">
    <app-search-complain (searchResultsChange)="setComplains($event)" (searchFormClear)="clearedSearchForm($event)"></app-search-complain>
    <app-summary-complain *ngFor="let complain of complains" [complain]="complain"></app-summary-complain>
  </div>
</section>
