.top-nav {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #dbdbdb
}

.top-nav .nav-link {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

.top-nav .navbar-nav .nav-item + .nav-item {
  margin-left: 0
}

.top-nav li a {
  color: #141517;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid #fff
}

.top-nav li a:hover, .top-nav li a:focus, .top-nav li.active a {
  color: #141517;
  border-bottom: 2px solid #FD3A13
}

.top-nav .form-control {
  border-color: #fff
}

.navbar-toggle {
  background: #fff;
}

.navbar-toggle .icon-bar {
  background: #0A2E61;
}

.navbar-brand {
  display: none;
}

.top-slider .carousel-indicators {
  bottom: 0
}

.top-slider .carousel-indicators li {
  border: 1px solid #000;
}

.top-slider .carousel-indicators .active {
  background: #000;
}

.side-bar .nav-tabs {
  border-bottom: none;
}

.side-bar .nav-tabs .nav-link {
  color: #aeaeae;
  text-transform: uppercase;
  border: none;
}

.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover {
  border-bottom: 2px solid #ff0000;
  text-transform: uppercase;
  color: #222
}

.sidebar-tabing .media {
  margin-top: 20px
}

.sidebar-tabing img {
  width: 120px;
  height: 100px;
}

.sidebar-tabing .title-small {
  line-height: 23px;
  margin-top: 5px;
  font-size: 18px
}

#search {
  float: right;
  margin-top: 9px;
  width: 250px;
}

.search {
  padding: 5px 0;
  width: 230px;
  height: 30px;
  position: relative;
  left: 10px;
  float: left;
  line-height: 22px;
}

.search input {
  background: #d0d0d0;
  border: medium none;
  border-radius: 3px 0 0 3px;
  float: left;
  height: 36px;
  line-height: 18px;
  margin-left: 210px;
  padding: 0 9px;
  position: absolute;
  top: -3px;
  width: 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.search:hover input, .search input:focus {
  width: 200px;
  margin-left: 0px;
  background: #d0d0d0;
}

.top-nav .btn {
  position: absolute;
  right: 0;
  top: -3px;
  border-radius: 3px;
}
