<section class="top-nav">
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav ">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" *ngIf="!this.authService.securityParams" [routerLink]="['/']">ŞİKAYETLER</a>
            <a class="nav-link" *ngIf="this.authService.securityParams" [routerLink]="['/admin/']">ŞİKAYETLER</a>
          </li>
          <li class="nav-item" *ngIf="!this.authService.securityParams" routerLinkActive="active"><a class="nav-link" [routerLink]="['/report-complain']">ŞİKAYET
            BİLDİRİMİ</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/search']">TAKSİ
            DURAKLARI</a></li>
          <li class="nav-item" >
              <a class="nav-link"  *ngIf="this.authService.securityParams"  (click)="onLoggedout()">ÇIKIŞ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
