<div class="small-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 date-sec">
        <div id="Date"></div>
      </div>
      <div class="col-lg-3 offset-lg-5">
        <div class="social-icon">
          <a target="_blank" href="#" class=" fa fa-facebook"></a>
          <a target="_blank" href="#" class=" fa fa-twitter"></a>
          <a target="_blank" href="#" class=" fa fa-google-plus"></a>
          <a target="_blank" href="#" class=" fa fa-linkedin"></a>
          <a target="_blank" href="#" class=" fa fa-youtube"></a>
          <a target="_blank" href="#" class=" fa fa-vimeo-square"></a>
        </div>
      </div>
    </div>
  </div>
</div>
