.small-top {
  border-bottom: 1px solid #2b2b2b;
  float: left;
  width: 100%;
  background: #000;
}

.small-top .social-icon {
  float: right;
}

.small-top .social-icon a {
  border-left: 1px solid #2b2b2b;
  color: #f4ee42;
  float: left;
  padding: 6px 13px;
}

.small-top .social-icon a:last-child {
  border-right: 1px solid #2b2b2b;
}

.small-top .social-icon a:hover {
  color: #FD3A13;
  text-decoration: none;
}

.small-top .date-sec {
  font-size: 13px;
  font-weight: 600;
  float: left;
  margin-top: 4px;
  color: #898989
}
